{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><title>Curryists</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<link href="{% static 'booking/style.css' %}" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Share&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="apple-touch-icon" href="/static/apple-touch-icon.png">
<meta name=viewport content="width=device-width, initial-scale=1">
</head><body>
<div class="page-header">
    <h1><a href="/">Curryists</a></h1>

<div class="login">
{% if request.user.is_authenticated %}
<a href="/admin/">Admin</a>
<a href="/admin/logout/?next={{ request.path }}">Log Out</a>
{% else %}
<a href="/admin/login/?next={{ request.path }}">Log In</a>
{% endif %}
</div>

</div>

<div class="page-container">

{% block body_block %}{% endblock %}

</div>
</body></html>
