{% extends 'base.html' %}

{% block body_block %}

{% include 'event_header.html' %}

{% if attend_list %}
<table border="1">

<tr class="header">
<td>&nbsp;</td>
<td><b>Name</b></td>
<td><b>Email</b></td>
<td><b>Number Attending</b></td>
</tr>

{% for attend in attend_list %}

<tr>
<td><a href="{% url 'nuke' attend.id %}">nuke</a>
<td>{{ attend.name }}</td>
<td>{{ attend.email }}</td>
<td>{{ attend.num_attendees }}</td>
</tr>	

{% endfor %}
</table>
{% else %}
<h2>No registrations found</h2>
{% endif %}

<p>
Total: {{ total_attendance }}
</p>

<hr>

{% if cancel_list %}
<h3>Cancellations</h3>
<table border="1">

<tr class="header">
<td><b>Name</b></td>
<td><b>Email</b></td>
<td><b>Number Attending</b></td>
</tr>

{% for cancel in cancel_list %}

<tr>
<td>{{ cancel.name }}</td>
<td>{{ cancel.email }}</td>
<td>{{ cancel.num_attendees }}</td>
</tr>	

{% endfor %}
</table>
{% else %}
<h3>No cancellations</h3>
{% endif %}

{% endblock %}

